beautifulsoup4==4.9.1
compoundfiles==0.3
compressed_rtf==1.0.6
Django==3.2.11
lxml==4.6.3
outlookmsgfile==0.1.0
python-magic==0.4.18
requests==2.25.0
requests_ntlm==1.0.0
six==1.15.0
xmltodict==0.12.0
